---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/sections/Hero';
import Bio from '@/components/sections/Bio';
import FeaturedWork from '@/components/sections/FeaturedWork';
import MoreThings from '@/components/sections/MoreThings';
import Contact from '@/components/sections/Contact';
import Footer from '@/components/sections/Footer';
import WaveLine from '@/components/WaveLine';
import Navigation from '@/components/Navigation';
---

<Layout>
  <Navigation client:load />
  <Hero />
  <main
    class="relative z-20 -mt-8 rounded-4xl bg-default shadow-main-container lg:-mt-16 lg:rounded-t-6xl"
  >
    <div
      class="absolute left-1/2 top-4 h-1 w-16 -translate-x-1/2 rounded-full bg-subtle lg:hidden"
    >
    </div>
    <Bio />
    <div class="px-4 py-16 lg:px-16 lg:py-32">
      <WaveLine className="bg-subtle" />
    </div>
    <FeaturedWork />
    <div class="px-4 py-16 lg:px-16 lg:py-32">
      <WaveLine className="bg-subtle" />
    </div>
    <MoreThings />
    <div class="px-4 py-16 lg:px-16 lg:py-32">
      <WaveLine className="bg-subtle" />
    </div>
    <Contact client:visible />
  </main>
  <Footer client:visible />
</Layout>
