---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.tsx';
import Bio from '@/components/Bio';
import FeaturedWork from '@/components/FeaturedWork';
import MoreThings from '@/components/MoreThings';
import WaveLine from '@/components/WaveLine';
---

<Layout>
  <main>
    <Hero />
    <div
      class="relative -mt-16 rounded-t-4xl bg-default shadow-main-container lg:rounded-t-6xl"
    >
      <div
        class="absolute left-1/2 top-4 h-1 w-16 -translate-x-1/2 rounded-full bg-subtle lg:hidden"
      >
      </div>
      <Bio />
      <div class="px-4 py-16 lg:px-16 lg:py-32">
        <WaveLine className="bg-subtle" />
      </div>
      <FeaturedWork />
      <div class="px-4 py-16 lg:px-16 lg:py-32">
        <WaveLine className="bg-subtle" />
      </div>
      <MoreThings />
    </div>
  </main>
</Layout>
