---
import Layout from '@/layouts/Layout.astro';
import Hero from '@/components/Hero.tsx';
import Bio from '@/components/Bio';
---

<Layout>
  <main>
    <Hero />
    <div
      class="lg:rounded-t-6xl rounded-t-4xl shadow-main-container relative -mt-16 bg-default"
    >
      <div
        class="absolute left-1/2 top-4 h-1 w-16 -translate-x-1/2 rounded-full bg-subtle lg:hidden"
      >
      </div>
      <Bio />
    </div>
  </main>
</Layout>
